//height-start

.h-5 {
  height: 5%;
}
.h-7 {
  height: 7%;
}
.h-9 {
  height: 9%;
}
.h-8 {
  height: 8%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}
.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}
.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.h-96 {
  height: 96%;
}

.h-97 {
  height: 97%;
}

.h-98 {
  height: 98%;
}

.h-99 {
  height: 99%;
}
.hi-100 {
  height: 100%;
}
//height-end
//
//
//
//
@media (max-width: 576px) {
  .h-xs-45 {
    height: 45%;
  }
  .h-xs-47 {
    height: 47%;
  }
  .h-xs-48 {
    height: 48%;
  }
  .h-xs-50 {
    height: 50%;
  }
  .h-xs-55 {
    height: 55%;
  }
  .h-xs-60 {
    height: 60%;
  }
  .h-xs-65 {
    height: 65%;
  }
  .h-xs-70 {
    height: 70%;
  }
  .h-xs-75 {
    height: 75%;
  }
  .h-xs-80 {
    height: 80%;
  }
  .h-xs-85 {
    height: 85%;
  }
  .h-xs-90 {
    height: 90%;
  }
  .h-xs-95 {
    height: 95%;
  }
  .h-xs-96 {
    height: 96%;
  }
  .h-xs-97 {
    height: 97%;
  }
  .h-xs-98 {
    height: 98%;
  }
  .h-xs-99 {
    height: 99%;
  }
  .h-xs-100 {
    height: 100%;
  }
}
@media (min-width: 577px) {
  .h-sm-45 {
    height: 45%;
  }
  .h-sm-47 {
    height: 47%;
  }
  .h-sm-48 {
    height: 48%;
  }
  .h-sm-50 {
    height: 50%;
  }
  .h-sm-55 {
    height: 55%;
  }
  .h-sm-60 {
    height: 60%;
  }
  .h-sm-65 {
    height: 65%;
  }
  .h-sm-70 {
    height: 70%;
  }
  .h-sm-75 {
    height: 75%;
  }
  .h-sm-80 {
    height: 80%;
  }
  .h-sm-85 {
    height: 85%;
  }
  .h-sm-90 {
    height: 90%;
  }
  .h-sm-95 {
    height: 95%;
  }
  .h-sm-100 {
    height: 100%;
  }
}
@media (min-width: 768px) {
  .h-md-32 {
    height: 32%;
  }
  .h-md-33 {
    height: 33%;
  }
  .h-md-45 {
    height: 45%;
  }
  .h-md-47 {
    height: 47%;
  }
  .h-md-48 {
    height: 48%;
  }
  .h-md-50 {
    height: 50%;
  }
  .h-md-55 {
    height: 55%;
  }
  .h-md-60 {
    height: 60%;
  }
  .h-md-65 {
    height: 65%;
  }
  .h-md-70 {
    height: 70%;
  }
  .h-md-75 {
    height: 75%;
  }
  .h-md-80 {
    height: 80%;
  }
  .h-md-85 {
    height: 85%;
  }
  .h-md-90 {
    height: 90%;
  }
  .h-md-95 {
    height: 95%;
  }
  .h-md-100 {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .h-lg-32 {
    height: 32%;
  }
  .h-lg-33 {
    height: 33%;
  }
  .h-lg-45 {
    height: 45%;
  }
  .h-lg-47 {
    height: 47%;
  }
  .h-lg-48 {
    height: 48%;
  }
  .h-lg-50 {
    height: 50%;
  }
  .h-lg-55 {
    height: 55%;
  }
  .h-lg-60 {
    height: 60%;
  }
  .h-lg-65 {
    height: 65%;
  }
  .h-lg-70 {
    height: 70%;
  }
  .h-lg-75 {
    height: 75%;
  }
  .h-lg-80 {
    height: 80%;
  }
  .h-lg-85 {
    height: 85%;
  }
  .h-lg-90 {
    height: 90%;
  }
  .h-lg-95 {
    height: 95%;
  }
  .h-lg-100 {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .h-xl-32 {
    height: 32%;
  }
  .h-xl-33 {
    height: 33%;
  }
  .h-xl-45 {
    height: 45%;
  }
  .h-xl-47 {
    height: 47%;
  }
  .h-xl-48 {
    height: 48%;
  }
  .h-xl-50 {
    height: 50%;
  }
  .h-xl-55 {
    height: 55%;
  }
  .h-xl-60 {
    height: 60%;
  }
  .h-xl-65 {
    height: 65%;
  }
  .h-xl-70 {
    height: 70%;
  }
  .h-xl-75 {
    height: 75%;
  }
  .h-xl-70 {
    height: 70%;
  }
  .h-xl-80 {
    height: 80%;
  }
  .h-xl-85 {
    height: 85%;
  }
  .h-xl-90 {
    height: 90%;
  }
  .h-xl-95 {
    height: 95%;
  }
  .h-xl-100 {
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .h-xxl-45 {
    height: 45%;
  }
  .h-xxl-47 {
    height: 47%;
  }
  .h-xxl-48 {
    height: 48%;
  }
  .h-xxl-50 {
    height: 50%;
  }
  .h-xxl-55 {
    height: 55%;
  }
  .h-xxl-60 {
    height: 60%;
  }
  .h-xxl-65 {
    height: 65%;
  }
  .h-xxl-70 {
    height: 70%;
  }
  .h-xxl-75 {
    height: 75%;
  }
  .h-xxl-70 {
    height: 70%;
  }
  .h-xxl-80 {
    height: 80%;
  }
  .h-xxl-85 {
    height: 85%;
  }
  .h-xxl-90 {
    height: 90%;
  }
  .h-xxl-95 {
    height: 95%;
  }
  .h-xxl-100 {
    height: 100%;
  }
}

//Height-End

//Height-VH-start

.vh-5 {
  height: 5vh;
}
.vh-7 {
  height: 7vh;
}
.vh-9 {
  height: 9vh;
}
.vh-8 {
  height: 8vh;
}

.vh-10 {
  height: 10vh;
}

.vh-15 {
  height: 15vh;
}
.vh-20 {
  height: 20vh;
}

.vh-25 {
  height: 25vh;
}

.vh-30 {
  height: 30vh;
}

.vh-35 {
  height: 35vh;
}

.vh-40 {
  height: 40vh;
}

.vh-45 {
  height: 45vh;
}
.vh-50 {
  height: 50vh;
}

.vh-55 {
  height: 55vh;
}

.vh-60 {
  height: 60vh;
}

.vh-65 {
  height: 65vh;
}

.vh-70 {
  height: 70vh;
}

.vh-75 {
  height: 75vh;
}

.vh-80 {
  height: 80vh;
}

.vh-85 {
  height: 85vh;
}

.vh-90 {
  height: 90vh;
}

.vh-95 {
  height: 95vh;
}

.vh-96 {
  height: 96vh;
}

.vh-97 {
  height: 97vh;
}

.vh-98 {
  height: 98vh;
}

.vh-99 {
  height: 99vh;
}
.vhi-100 {
  height: 100vh;
}
//height-end
//
//
//
//
@media (max-width: 576px) {
  .vh-xs-45 {
    height: 45vh;
  }
  .vh-xs-47 {
    height: 47vh;
  }
  .vh-xs-48 {
    height: 48vh;
  }
  .vh-xs-50 {
    height: 50vh;
  }
  .vh-xs-55 {
    height: 55vh;
  }
  .vh-xs-60 {
    height: 60vh;
  }
  .vh-xs-65 {
    height: 65vh;
  }
  .vh-xs-70 {
    height: 70vh;
  }
  .vh-xs-75 {
    height: 75vh;
  }
  .vh-xs-80 {
    height: 80vh;
  }
  .vh-xs-85 {
    height: 85vh;
  }
  .vh-xs-90 {
    height: 90vh;
  }
  .vh-xs-95 {
    height: 95vh;
  }
  .vh-xs-96 {
    height: 96vh;
  }
  .vh-xs-97 {
    height: 97vh;
  }
  .vh-xs-98 {
    height: 98vh;
  }
  .vh-xs-99 {
    height: 99vh;
  }
  .vh-xs-100 {
    height: 100vh;
  }
}
@media (min-width: 577px) {
  .vh-sm-45 {
    height: 45vh;
  }
  .vh-sm-47 {
    height: 47vh;
  }
  .vh-sm-48 {
    height: 48vh;
  }
  .vh-sm-50 {
    height: 50vh;
  }
  .vh-sm-55 {
    height: 55vh;
  }
  .vh-sm-60 {
    height: 60vh;
  }
  .vh-sm-65 {
    height: 65vh;
  }
  .vh-sm-70 {
    height: 70vh;
  }
  .vh-sm-75 {
    height: 75vh;
  }
  .vh-sm-80 {
    height: 80vh;
  }
  .vh-sm-85 {
    height: 85vh;
  }
  .vh-sm-90 {
    height: 90vh;
  }
  .vh-sm-95 {
    height: 95vh;
  }
  .vh-sm-100 {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .vh-md-32 {
    height: 32vh;
  }
  .vh-md-33 {
    height: 33vh;
  }
  .vh-md-45 {
    height: 45vh;
  }
  .vh-md-47 {
    height: 47vh;
  }
  .vh-md-48 {
    height: 48vh;
  }
  .vh-md-50 {
    height: 50vh;
  }
  .vh-md-55 {
    height: 55vh;
  }
  .vh-md-60 {
    height: 60vh;
  }
  .vh-md-65 {
    height: 65vh;
  }
  .vh-md-70 {
    height: 70vh;
  }
  .vh-md-75 {
    height: 75vh;
  }
  .vh-md-80 {
    height: 80vh;
  }
  .vh-md-85 {
    height: 85vh;
  }
  .vh-md-90 {
    height: 90vh;
  }
  .vh-md-95 {
    height: 95vh;
  }
  .vh-md-100 {
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .vh-lg-32 {
    height: 32vh;
  }
  .vh-lg-33 {
    height: 33vh;
  }
  .vh-lg-45 {
    height: 45vh;
  }
  .vh-lg-47 {
    height: 47vh;
  }
  .vh-lg-48 {
    height: 48vh;
  }
  .vh-lg-50 {
    height: 50vh;
  }
  .vh-lg-55 {
    height: 55vh;
  }
  .vh-lg-60 {
    height: 60vh;
  }
  .vh-lg-65 {
    height: 65vh;
  }
  .vh-lg-70 {
    height: 70vh;
  }
  .vh-lg-75 {
    height: 75vh;
  }
  .vh-lg-80 {
    height: 80vh;
  }
  .vh-lg-85 {
    height: 85vh;
  }
  .vh-lg-90 {
    height: 90vh;
  }
  .vh-lg-95 {
    height: 95vh;
  }
  .vh-lg-100 {
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  .vh-xl-32 {
    height: 32vh;
  }
  .vh-xl-33 {
    height: 33vh;
  }
  .vh-xl-45 {
    height: 45vh;
  }
  .vh-xl-47 {
    height: 47vh;
  }
  .vh-xl-48 {
    height: 48vh;
  }
  .vh-xl-50 {
    height: 50vh;
  }
  .vh-xl-55 {
    height: 55vh;
  }
  .vh-xl-60 {
    height: 60vh;
  }
  .vh-xl-65 {
    height: 65vh;
  }
  .vh-xl-70 {
    height: 70vh;
  }
  .vh-xl-75 {
    height: 75vh;
  }
  .vh-xl-70 {
    height: 70vh;
  }
  .vh-xl-80 {
    height: 80vh;
  }
  .vh-xl-85 {
    height: 85vh;
  }
  .vh-xl-90 {
    height: 90vh;
  }
  .vh-xl-95 {
    height: 95vh;
  }
  .vh-xl-100 {
    height: 100vh;
  }
}
@media (min-width: 1400px) {
  .vh-xxl-45 {
    height: 45vh;
  }
  .vh-xxl-47 {
    height: 47vh;
  }
  .vh-xxl-48 {
    height: 48vh;
  }
  .vh-xxl-50 {
    height: 50vh;
  }
  .vh-xxl-55 {
    height: 55vh;
  }
  .vh-xxl-60 {
    height: 60vh;
  }
  .vh-xxl-65 {
    height: 65vh;
  }
  .vh-xxl-70 {
    height: 70vh;
  }
  .vh-xxl-75 {
    height: 75vh;
  }
  .vh-xxl-70 {
    height: 70vh;
  }
  .vh-xxl-80 {
    height: 80vh;
  }
  .vh-xxl-85 {
    height: 85vh;
  }
  .vh-xxl-90 {
    height: 90vh;
  }
  .vh-xxl-95 {
    height: 95vh;
  }
  .vh-xxl-100 {
    height: 100vh;
  }
}

//Height VH End
